body{
    background-image: url("prism.png");
    background-repeat: repeat;
}

body, button {
    font-family: 'Russo One', sans-serif;
    font-size: 22px !important;
}
.grid-container {
    height: 350px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 10% 10% 10% auto;
    background-color: #2196F3;
    border: 5px solid black;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    resize: both;
    overflow: auto;
}

.grid-item {
    display: grid;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
}

.grid-item-screen {
    display: grid;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    text-align: center;
}

.grid-item-volume {
    display: grid;
    width: 80%;
    margin-left: 10%;
    text-align:center;
    background-color: #2196F3;
    font-size: 30px;
    text-align: center;
}

.grid-item-key-pressed {
    color: white;
    display: grid;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid yellow;
    transition: width 1s;
    font-size: 30px;
    text-align: center;
    opacity: .8;
}

.slidecontainer {
    width: 100%;
}
  
.slider {
    margin-left: 15%;
    -webkit-appearance: none;
    width: 70%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.grid-item:hover {
    opacity: 0.5;
    cursor: pointer;
}
.hidden {
    visibility: hidden;
}

.letter {
    margin: auto;
}

